@font-face {
    font-family: 'Grav';
    src: url(../Fonts/Gravitica/Gravitica-Rounded-Regular.ttf);
    font-style: normal;
    font-weight: 100;
}
h2 {
    border-bottom: 1px;
    font-family: 'Grav';
    font-weight: 100;
}


.detailsindiv{
    margin-left: 2em;
}

.followListings{
    display: flex;
    margin-left: 2em;
    margin-top: 2em;
}

.header {
    margin-left: 1em;
}

.followersTop{
    margin-left: 2em;
    margin-top: 2em;
    font-family: 'Grav';
    font-weight: 100;
}

.follower__name{
    font-family: 'Grav';
    font-weight: 100;
    color: rgba(231,217,201,1);
    font-size: 24px;
}