h2 {
    border-bottom: 1px;
    font-family: 'Grav';
    font-weight: 100;
}


.detailsindiv{
    margin-left: 2em;
}

.followListings{
    display: flex;
    margin-left: 2em;
    margin-top: 2em;
}

.header {
    margin-left: 1em;
}

.followersTop{
    margin-left: 2em;
    margin-top: 3em;
    margin-bottom: -2em;
    font-family: 'Grav';
    font-weight: 100;
}

.follower__name{
    font-family: 'Grav';
    font-weight: 100;
    font-size: 24px;
}

.events{
    margin-bottom: 2em;
}

.youFollow{
    padding-bottom: -5em;
}

.whosPage{
    margin-left: 5em;
}