h2 {
    border-bottom: 1px;
    font-family: 'Grav';
}

@font-face {
    font-family: 'Grav';
    src: url(../Fonts/Gravitica/Gravitica-Rounded-Regular.ttf);
    font-style: normal;
    font-weight: 100;
}