
fieldset {
    border: none;
}


/* Hub */

.spacer {
    padding: 0em 5em
}

.ideaSection {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    font-size: 36px;
    margin-bottom: -0.25em;
}

.ideaEntry {
    padding-left: 2em;
}

.ideas {
    padding-left: 2em;
    padding-bottom: 2em;
}

.idea {
    padding-top: 0.25em;
}

.idea__concept {
    font-size: 24px;
    font-family: 'SecretSociety';
    font-weight: 100;
}

#ideaAuthor {
    margin-top: -1em;
    font-size: 18px;
}

.ideaSelect {
    display: flex;
    justify-content: space-around;
    font-family: 'SecretSociety';
    font-weight: 100;
    font-size: 26px;
}

.ideaIdeas{
    padding-left: 2em;
    padding-bottom: 2em;
}

.ideaIdea__concept {
    font-size: 24px;
    font-family: 'SecretSociety';
    font-weight: 100;
}

#ideaIdeaAuthor {
    margin-top: -1em;
    font-size: 18px;
}

@font-face {
    font-family: 'SecretSociety';
    src: url(../../Fonts/Gravitica/Gravitica-Rounded-Light.ttf);
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'Gravitica';
    src: url(../../Fonts/Gravitica/Gravitica-Rounded-Extra-Light.ttf);
    font-style: normal;
    font-weight: 100;
}

/* Details */
Card {
    width: 75%;
}

/* Form */

.form-control {
    padding: none;
}

.ideaForm{
    margin-left: 2em;
}