fieldset {
    border: none;
}


/* Hub */

.spacer {
    padding: 0em 5em
}

.ideaSection {
    font-size: 36px;
    margin-bottom: -0.25em;
}

.ideaEntry {
    padding-left: 2em;
}

.ideas {
    padding-left: 2em;
    padding-bottom: 2em;
}

.idea {
    padding-top: 0.25em;
}

.idea__concept {
    font-size: 24px;
    font-family: 'Grav';
    font-weight: 100;
}

#ideaAuthor {
    margin-top: -1em;
    font-size: 18px;
}

.ideaSelect {
    display: flex;
    justify-content: space-around;
    font-family: 'GravRound';
    font-weight: 100;
    font-size: 26px;
}

.ideaIdeas{
    padding-left: 2em;
    padding-bottom: 2em;
}

.idea__concept {
    font-size: 30px;
    font-family: 'GravBold';
    font-weight: 100;
}

#ideaIdeaAuthor {
    margin-top: -1em;
    font-size: 18px;
}

.journal__concept{
    color: white;
    font-family: "Grav";
}


/* Details */
Card {
    width: 75%;
}

.idea__content{
    font-family: "Grav";
    font-weight: 100;
    font-size: 18px;
}

/* Form */

.form-control {
    padding: none;
}

.ideaForm{
    margin-left: 2em;
}

.ideasearch{
    margin-left: 2em;
    margin-top: 4em;
    margin-bottom: 2em;
}