.commentSection{
    margin-bottom: 3em;
}

.journal{
    margin-top: 2em;
    padding-bottom: 1em;
    color: rgb(255, 255, 255);
    width: 50%;
    border-bottom: 1px white;
}

.commentForm__title{
    color: black;
    padding-top: 1em;
}

.comment__user{
    margin-bottom: -0.01em;
    margin-left: -0em;
    font-family: "GravLight";
    font-size: 18px;
}
.comment__date{
color: rgb(251, 193, 24);}