.eventAddButton {
    margin: 4em 2em;

}

.cardDescrip{
    display: flex;
    justify-content: center;
}

.eventGridContainer{
    margin-left: 2em;
}
.events {
    margin-left: 2em;
    margin-top: 4em;
}

.event__title{
    margin-left: -1.25em;
    color: black;
}

.event__date{
    color: black;
}

.event__name{
    color: black;
}

.eventForm{
    padding-left: 2em;
    padding-bottom: 2em;
}