@font-face {
    font-family: 'SecretSociety';
    src: url(../Fonts/Gravitica/Gravitica-Rounded-Bold.ttf);
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'GraviticaReg';
    src: url(../Fonts/Gravitica/Gravitica-Rounded-DemiBold.ttf);
    font-style: normal;
    font-weight: 100;
}
.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    
}

.navtext{
    font-family: 'GraviticaReg';
    font-weight: 100;
}
.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}

.navSpacer {
    padding-left: 5em;
    padding-right: 5em;
}


ul {
    border-bottom: darkgray 2px;
}

#headerBG {
    color: rgba(231, 217, 201, 1);
    position: absolute;
    top: -6em;
    z-index: -1;
    opacity: 75%;
  }

