.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    
}

.navtext{
    font-family: 'Grav';
    font-weight: 100;
    color: rgb(251, 193, 24);
}
.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}

.navSpacer {
    padding-left: 5em;
    padding-right: 5em;
}


ul {
    border-bottom: darkgray 2px;
}

#headerBG {
    color: rgb(251, 193, 24);;
    position: absolute;
    top: -6em;
    z-index: -1;
    opacity: 75%;
  }

.navtextItem{
    font-size: 20px;
    font-family: 'GravLight';
    font-weight: 100;
    color: rgb(251, 193, 24);
}