@font-face {
    font-family: 'SecretSociety';
    src: url(Fonts/Gravitica/Gravitica-Rounded-DemiBold.ttf);
    font-style: normal;
    font-weight: 100;
}
#headline {
    color: white;
    font-size: 170px;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.235);
    font-family: 'SecretSociety';
    font-weight: 100;
    text-align: center;
    margin: 0 auto;
    z-index: 1;
}

#subtitle {
    color: whitesmoke;
    margin-top: -1em;
    font-size: 24px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.235);
    text-align: center;
}




.navbar, li {
    color: white;
}

#child{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: -2;
}

.titles{
    position: fixed;
    top: 30%;
    left: 17%;
}

html body {
    background-color: linear-gradient(45deg, rgba(49, 51, 73, 1) 0%, rgba(83, 90, 100, 1)100%);
      
  }