.message {
    
}

#sectionMessageHeader {
    padding-left: 1em;
}

.form-group {
    margin-left: 1em;
}

.messageBox {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0.5em;

}


fieldset {
    border: none;
}

.message__date {
    font-size: smaller;
    color: rgba(70, 70, 70, 0.605);
}

.messagesWindow {
    border: 1px solid;
    padding: 1em;
}

textarea {
    width: 71.5%;
    height: 5em;
}

.messageList {
    flex: 1 0 50%;
    border: 1px solid;
    padding: 1em;
    margin: 2em;
}