@font-face {
    font-family: 'GravReg';
    src: url(../Fonts/Gravitica/Gravitica-Rounded-Regular.ttf);
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'GravLight';
    src: url(../Fonts/Gravitica/Gravitica-Rounded-Light.ttf);
    font-style: normal;
    font-weight: 100;
}

.message{
    font-family: "GravReg";
}

.message__date{
    font-family: "GravLight";
}

#sectionMessageHeader {
    padding-left: 1em;
}

.form-group {
    margin-left: 1em;
}

.messageBox {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0.5em;
    border-bottom: solid rgba(231,217,201,0.25);
}


fieldset {
    border: none;
}

.message__date {
    font-size: smaller;
    color: rgba(225, 186, 179, 0.75);
}

.messagesWindow {
    padding: 1em;
}

textarea {
    width: 71.5%;
    height: 5em;
}

.messageList {
    flex: 1 0 50%;
    padding: 1em;
    margin: 2em;
}