.message{
    font-family: "Grav";
    color: white;
    font-family: 18px;
}

.message__date{
    font-family: "GravLight";
    font-size: smaller;
    color: rgb(251, 193, 24, 0.75);
}

#sectionMessageHeader {
    padding-left: 2.8em;
    margin-bottom: -1em;
    margin-top: 2em;
}

.formHeader{
    color: white;
}

.form-group {
    margin-left: 1em;
}

.messageBox {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0.5em;
    border-bottom: solid rgba(255, 255, 255, 0.543);
}


fieldset {
    border: none;
}

.messagesWindow {
    padding: 1em;
}

textarea {
    width: 71.5%;
    height: 5em;
}

.messageList {
    flex: 1 0 50%;
    padding: 1em;
    margin: 2em;
}