
fieldset {
    border: none;
}

a:visited {
    color: rgb(225, 186, 179);
    text-shadow: 1px 1px rgb(97, 56, 66);
}

a:link {
    color: rgba(225, 186, 179, 1);
    text-shadow:  rgba(97, 56, 66, .25);
}

a:hover {
    color: rgba(97, 56, 66, .25);
    text-shadow:  rgba(225, 186, 179, 1);
}

/* Hub */

.spacer {
    padding: 0em 5em
}

.journalSection {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    font-size: 36px;
    margin-bottom: -0.25em;
}

.journalEntry {
    padding-left: 2em;
}

.journals {
    padding-left: 2em;
    padding-bottom: 2em;
}

.journal {
    padding-top: 0.25em;
}

.journal__concept {
    font-size: 24px;
    font-family: 'SecretSociety';
    font-weight: 100;
}

#journalAuthor {
    margin-top: -1em;
    font-size: 18px;
}

.journalSelect {
    display: flex;
    justify-content: space-around;
    font-family: 'SecretSociety';
    font-weight: 100;
    font-size: 26px;
}

.journalIdeas{
    padding-left: 2em;
    padding-bottom: 2em;
}

.journalIdea__concept {
    font-size: 24px;
    font-family: 'SecretSociety';
    font-weight: 100;
}

#journalIdeaAuthor {
    margin-top: -1em;
    font-size: 18px;
}

@font-face {
    font-family: 'SecretSociety';
    src: url(../../Fonts/Gravitica/Gravitica-Rounded-Light.ttf);
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'Gravitica';
    src: url(../../Fonts/Gravitica/Gravitica-Rounded-Extra-Light.ttf);
    font-style: normal;
    font-weight: 100;
}

/* Details */
Card {
    width: 75%;
}

/* Form */

.form-control {
    padding: none;
}